<%= render "shared/header" %>

<div class="items-form-contents">
  <header class="items-form-header">
    <h2 class="items-form-title"><%= "#{current_user.full_name}さんの勤怠情報を入力" %></h2>
  </header>
  <div class="items-form-main">
    <%= form_with model: @attendance, local: true do |f| %>
      <%= render partial: "form", locals: { f: f } %>
    </div>

    <div class='purchase-btn'>
      <span class='purchase-btn-text'>現時刻入力</span>
      <button type="button"></button>
      <%= image_tag '時計.png' , size: '60x60', class: "purchase-btn-icon"  %>
    </div>

    <div class="form-btn-contents">
      <%= f.submit "入力する" ,class:"form-btn" %>
    </div>
  </div>
  <% end %>
  <%= render "shared/footer"%>
</div>