<%= render "shared/header" %>

<div class="items-form-contents">
  <header class="items-form-header">
    <h2 class="items-form-title"><%= "#{current_user.full_name}さんの入力フォーム" %></h2>
  </header>
  <div class="items-form-main">
    <%= form_with model: @attendance, local: true do |f| %>
      <%= render partial: "form", locals: { f: f } %>
    </div>

    <div class='current-time-btn'>
      <span class='current-time-btn-text'>現時刻入力</span>
      <%= audio_tag("paka!!.mp3",id:"audio") %>  <%#音を鳴らす%>
      <button type="button" class="audioButton"></button>
      <%= javascript_tag do %>
        document.querySelector('.audioButton').onclick = function() {
        if( typeof( document.querySelector('#audio').currentTime ) !='undefined' )
        {
          document.querySelector('#audio').currentTime = 0;
        }
        document.querySelector("#audio").play();
        }
      <% end %>
      <%= image_tag '時計.png' , size: '60x60', class: "current-time-btn-icon"  %>
    </div>

    <div class="form-btn-contents">
      <%= f.submit "送信する" ,class:"form-btn" %>
    </div>
    <div class="items-form-title">
      <div class='info-text'>※休憩時間、手当て、施術時間の入力<br>
      (翌月の勤怠を入力する前に行ってください)<br>
      ↓
      </div>
      <%= link_to '月末処理', assist_attendances_path, class: "getumatu-btn-icon" %>
    </div>

  </div>
  <% end %>
  <%= render "shared/footer"%>
</div>